.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4caf50; /* Yeşil */
  color: white;
  padding: 15px;
  border-radius: 8px; /* Kenarları yuvarlak yap */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Daha belirgin gölge */
  z-index: 1000;
  transition: opacity 0.5s ease, transform 0.5s ease; /* Geçiş ekle */
  transform: translateY(0); /* Başlangıç konumu */
}

.notification.hide {
  opacity: 0; /* Kapatma animasyonu için */
  transform: translateY(-20px); /* Yukarı kaydırma */
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}
