.container {
  display: flex;
}

/* Sidebar styles */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #343a40;
  color: white;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 80px; /* Reduced width when collapsed */
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.sidebar-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.toggle-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  flex-grow: 1;
}

.sidebar ul li {
  padding: 15px 10px;
  color: #e9ecef;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

/* Ensure the full li item is clickable */
.sidebar ul li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

/* Hover effect for the entire li */
.sidebar ul li:hover {
  background-color: #495057;
}

/* Active li styling */
.sidebar ul li.active {
  background-color: #495057; /* Change background color for active item */
  color: #fff; /* Ensure text color for active item */
  font-weight: bold; /* Optionally make the active item bold */
}

/* Add styles to keep the a tag inside the active li consistent */
.sidebar ul li.active a {
  color: #fff;
}

/* Handle collapsed state */
.sidebar ul li span {
  display: inline-block;
  transition: opacity 0.3s;
}

.sidebar.collapsed ul li span {
  opacity: 0; /* Hide text when collapsed */
  width: 0; /* Remove space when collapsed */
}

/* User info styles */
.user-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
  cursor: pointer;
}

.user-info:hover .user-menu,
.user-menu:hover {
  opacity: 1;
  visibility: visible;
}

.user-icon {
  margin-right: 10px;
  padding: 10px;
  border-radius: 50%;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-name {
  font-weight: bold;
  margin-bottom: 2px;
}

.user-role {
  font-size: 12px;
  color: #b0b0b0;
}

.user-menu {
  position: absolute;
  background-color: white;
  color: black;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  top: -60px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
  min-width: 150px;
}

.user-menu a {
  display: block;
  padding: 8px 10px;
  text-decoration: none;
  color: #333;
}

.user-menu a:hover {
  background-color: #f0f0f0;
}
